<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chat4Each</name>
    <description>
        Vido/Audio/Text chat for you across mobile, web, apps.
    </description>
    <author email="support@chat4each.com" href="http://www.chat4each.com">
        Chat4Each Team
    </author>
    <content src="index.html" />
    
    <access origin="*" />
	
</widget>
