<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chat4each" version="0.1.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chat4Each</name>
    <description>
        Vido/Audio/Text chat for you across mobile, web, apps.
    </description>
    <author email="support@chat4each.com" href="http://www.chat4each.com">
        Chat4Each Team
    </author>
    <content src="m.html" />
    
    <access origin="*" />
	<!-- Default application icon -->
<icon src="www/res/icons/icon.png" />

<!--
    Default icon should work, but cordova don't overwrite
    the default on all densities
-->
<icon src="www/res/icons/icon.png" platform="android" density="ldpi" />
<icon src="www/res/icons/icon.png" platform="android" density="mdpi" />
<icon src="www/res/icons/icon.png" platform="android" density="hdpi" />
<icon src="www/res/icons/icon.png" platform="android" density="xhdpi" />

<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="3000" />

	
</widget>
