

<% if (own_rooms.length>0){%>
	
	<h4>Rooms created by you (<%= own_rooms.length%>) </h4>
	
	<ul data-role="listview" data-split-theme="a" data-split-icon="delete" class="listview" data-count-theme="c">
	
	<% _.each(own_rooms, function(room){%>
		
		<li> 
			
			<a href="#chatroom/<%= room._id%>"  style="padding-left: 14px;">
				
				<%= room.name%>
				<% if(room.members.length==0){%>
					(Yourself only)
				<%}%>
				
				<% if(room.new_messages>0){%>
				<span class="ui-li-count  notice"><%= room.new_messages%></span>
				<%}%>	
				
				<% if(room.members.length>0){%>
				<br/>
					<%_.each( room.members, function(member){%>
						<% if(member.isOnline){%>
							<img src="<%= member.headImg%>" style="border:#008000 5px solid"/>
						<%}else{%>
							<img src="<%= member.headImg%>" style="border:#cccccc 5px solid"/>
						<%}%>	
						
					<%})%>
				<%}%>
				</span>
			 </a>
			 
			<a class="hrefDeleteRoom" data-roomid="<%= room._id%>" data-action='delete'>Delete</a>	 
			
		</li>
	<%})%>
	</ul>
<%}else{%>
	<h4>You have not created any rooms yet.</h4>	
<%}%>

<hr/>

<% if (join_rooms.length>0){%>
	
	<h4>Rooms you have joined <%= join_rooms.length%></h4>
	<ul data-role="listview" data-split-theme="a" data-split-icon="delete" class="listview" data-count-theme="c">
	
	<% _.each(join_rooms, function(room){%>
		
		<li> <a href="#chatroom/<%= room._id%>"  style="padding-left: 14px;">
		
				<%= room.name%>
				<% if(room.members.length==0){%>
					(Yourself only)
				<%}%>
				
				<% if(room.new_messages>0){%>
				<span class="ui-li-count notice"><%= room.new_messages%></span>
				<%}%>	
				
				<br/>
				
				<% if(room.creator.isOnline){%>
						<img src="<%= room.creator.headImg%>" style="border:#008000 5px solid"/>
				<%}else{%>
						<img src="<%= room.creator.headImg%>" style="border:#cccccc 5px solid"/>
				<%}%>
				
				<%_.each( room.members, function(member){%>
					<%if(member._id!==user._id){ %>
						<% if(member.isOnline){%>
							<img src="<%= member.headImg%>" style="border:#008000 5px solid"/>
						<%}else{%>
							<img src="<%= member.headImg%>" style="border:#cccccc 5px solid"/>
						<%}%>	
					<%}%>
				<%})%>
				
			 </a> 
			<a class="hrefDeleteRoom" data-roomid="<%= room._id%>" data-action='leave'>Leave</a>	 
		</li>
	<%})%>
	</ul>
	
<%}else{%>
	<h4>You have not joined any room yet.</h4>
<%}%>