<table>
	<% if( user.screenName === chat.creator.screenName ){%>
		
		<tr>
			<td>
				<i class="fa fa-times-circle btnRemoveMsg" data-msgid="<%= chat._id %>" style="font-size: 30px;"></i>
			</td>
			<td  width="100%" style="text-align:right">
				
				<div style="float: right;padding-right: 20px;">
						<% if(videoPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefVideoChatRoom" data-link="<%=videoPath%>"><div class='recordVideoMsg' ></div></a>
							<%} else {%>
								<a href="<%=videoPath%>" target="_blank"><div class='recordVideoMsg'></div></a>
							<%} %>
						<%}else if(audioPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%=audioPath%>"><div class='recordAudioMsg' ></div></a>
							<%} else {%>
								<a href="<%=audioPath%>" target="_blank"><div class='recordAudioMsg'></div></a>
							<%}%>
						<%}else if(msgPhotoPath!==""){%>
							<img src="<%= msgPhotoPath %>" class="imgChatItem" data-smallimgurl="<%= msgPhotoPath%>" data-bigimgurl="<%= msgPhotoLargePath %>"/>
						<%}else{%>
							<%= chat.message %>
						<%}%>
				</div>				
			</td>
			<td width="60px" align="center">
			
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=chat.creator.screenName %>
			</td>
		<tr>
	<%}else{%>
		<tr>
			<td width="60px"  align="center">
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=chat.creator.screenName %>
			</td>
			
			<td  width="100%" >

				<div style="float: left;padding-left: 20px;">
						<% if(videoPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefVideoChatRoom" data-link="<%=videoPath%>"><div class='recordVideoMsg'></div></a>
							<%} else {%>
								<a href="<%=videoPath%>" target="_blank"><div class='recordVideoMsg'></div></a>
							<%} %>
						<%}else if(audioPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%=audioPath%>"><div class='recordAudioMsg'></div></a>
							<%} else {%>
								<a href="<%=audioPath%>" target="_blank"><div class='recordAudioMsg'></div></a>
							<%}%>
						<%}else if(msgPhotoPath!==""){%>
							<!-- 
							<a href="#larget_photo/<%= encodeURIComponent(msgPhotoLargePath) %>">
								<img src="<%= msgPhotoPath %>" />
							</a>
							 -->
							<img src="<%= msgPhotoPath %>" class="imgChatItem" data-smallimgurl="<%= msgPhotoPath%>" data-bigimgurl="<%= msgPhotoLargePath %>" />
						<%}else{%>
							<%= chat.message %>
						<%}%>
				</div>
			</td>
		<tr>
	<%}%>
	<tr>
	<% if( user.screenName === chat.creator.screenName ){%>
	<td colspan="3" style="padding: 0px; text-align: center;font-size: 70%">
			<%= chat.date_str%>
		</td>
	<%}else{%>
	<td colspan="2" style="padding: 0px; text-align: center;font-size: 70%">
			<%= chat.date_str%>
		</td>
	<%}%>
		
	</tr>
	
</table>