

<% if (own_rooms.length>0){%>
	
	<h4>Rooms created by you (<%= own_rooms.length%>) </h4>
	
	<ul data-role="listview" data-split-theme="a" data-split-icon="<%= link_to_share.length>0?'check':'delete' %>" class="listview" data-count-theme="c">
	
	<% _.each(own_rooms, function(room){%>
		
		<li> 
			
			<a href="#chatroom/<%= room._id%>"  style="padding-left: 14px;">
			
			
			<table>
					<tr>
						<td>
							<div style="width: 54px;height: 50px;" class='divRoomHeads' data-roomid="<%= room._id%>">
								<%= showMemberHeadImgForChatRoom(room.membersToRender)%>
							</div>
						</td>
						<td valign="top" style="padding-left: 15px">
							<%= room.name%>
							<% if(room.members.length==0){%>
								(Yourself only)
							<%}%>
							
							<% if(room.new_messages>0){%>
							<span class="ui-li-count notice"><%= room.new_messages%></span>
							<%}%>	
						</td>
					</tr>
				</table>
			
			 </a>
		
			<% if(link_to_share.length>0){%> 
				<a data-roomid="<%= room._id%>" class="hrefFavoriteToRoom">Favorite</a>	 
			<%}else{%>
				<a class="hrefDeleteRoom" data-roomid="<%= room._id%>" data-action='delete'>Delete</a>	 
			<%}%>
		</li>
	<%})%>
	</ul>
<%}else{%>
	<h4>You have not created any rooms yet.</h4>	
<%}%>

<hr/>

<% if (join_rooms.length>0){%>
	
	<h4>Rooms you have joined <%= join_rooms.length%></h4>
	<ul data-role="listview" data-split-theme="a" data-split-icon="<%= link_to_share.length>0?'check':'delete' %>"class="listview" data-count-theme="c">
	
	<% _.each(join_rooms, function(room){%>
		
		<li> <a href="#chatroom/<%= room._id%>"  style="padding-left: 14px;">
				<table>
					<tr>
						<td>
							<div style="width: 54px; height: 54px;" class='divRoomHeads' data-roomid="<%= room._id%>">
								<%= showMemberHeadImgForChatRoom(room.membersToRender)%>
							</div>
						</td>
						<td valign="top" style="padding-left: 15px">
							<%= room.name%>
							<% if(room.members.length==0){%>
								(Yourself only)
							<%}%>
							
							<% if(room.new_messages>0){%>
							<span class="ui-li-count notice"><%= room.new_messages%></span>
							<%}%>	
						</td>
					</tr>
				</table>
				
				
			 </a> 
			 
			 <% if(link_to_share.length>0){%> 
				<a data-roomid="<%= room._id%>" class="hrefFavoriteToRoom">Favorite</a>	 
			<%}else{%>
				<a class="hrefDeleteRoom" data-roomid="<%= room._id%>" data-action='leave'>Leave</a>	  
			<%}%>
			 
			
		</li>
	<%})%>
	</ul>
	
<%}else{%>
	<h4>You have not joined any room yet.</h4>
<%}%>