<table>
		
		<tr>
			<td>
				<i class="fa fa-times-circle btnRemoveMsg" data-msgid="0" style="font-size: 30px;"></i>
			</td>
			<td  width="100%" style="text-align:right">
				
				<div style="float: right;padding-right: 20px;">
						<% if(videoPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefVideoChatRoom" data-link="<%=videoPath%>"><div class='recordVideoMsg' ></div></a>
							<%} else {%>
								<a href="<%=videoPath%>" target="_blank"><div class='recordVideoMsg'></div></a>
							<%} %>
						<%}else if(audioPath!==""){%>
							<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%=audioPath%>"><div class='recordAudioMsg' ></div></a>
							<%} else {%>
								<a href="<%=audioPath%>" target="_blank"><div class='recordAudioMsg'></div></a>
							<%}%>
						<%}else{%>
							<a href="#larget_photo/<%= encodeURIComponent(msgPhotoLargePath) %>">
								<img src="<%= msgPhotoPath %>"  height="60px"/>
							</a>
						<%}%>
				</div>		
				<div class='spanUploadPercentage'>
					<% if(videoPath==="" && audioPath==="" && !mobile){%>
						<input type='button' value='upload' data-inline="true" id='btnStartUpload'>
					<%}%>
				</div>	
			</td>
			<td width="60px" align="center">
			
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=user.screenName %>
			</td>
		<tr>
	
	
	
</table>