<section id="splashPage">
		
		<div class="headerContent"></div>
		
		<div data-role="content">
			<div style="text-align: center;">
				<img src="<%= thumbNail%>">
				
				<div class='divDialingName'>
					<%= callee.firstName%> <%= callee.lastName%>
				</div>
				
				
				<!-- 
				<a  data-role='button' class='hrefAudio' data-inline='true'>Audio Call</a>
				 -->
				<a  data-role='button' class='hrefVideo' data-inline='true'>Video Call</a>
				
			</div>
			
		</div>
		
		<div class="footerContent"></div>
		
</section>
