<div data-role="footer" data-position="fixed">		
	<div data-role="navbar">
		<ul>
			<li><a href="#chatrooms" id="hrefFooterChatroom" ><%= window.util.translate("Chat") %></a></li>
			<li><a href="#highlights/all" id="hrefFooterInvitation" ><%= window.util.translate("Highlights") %></a></li>
			<!-- 
			<li><a href="#contacts" id="hrefFooterContact">Contacts</a></li>
			 -->
				<li><a href="#"><%= window.util.translate("Home") %></a></li>
		</ul>
	</div>
</div>
<audio id="audioBeep" src="/beep.wav" preload="auto"></audio>
