<% if (contacts.length==0){%>
	<h3><%= window.util.translate("No user has been found") %></h3>
<%}else{%>
	
	<h3>Search Result ( <%= contacts.length%> )</h3>
		
		<ul data-role="listview" data-split-theme="a"  class="listview" >
	
		<% _.each(contacts, function(contact){%>
			
			<li> <a href="#request_friend/<%= contact._id%>" style="min-height: 0px;">
					
					<table>
						<tr>
							<td width="50px" height="40px" valign="middle">
								<% if(contact.photoPath==''){%>
									<i class="fa fa-user" style="font-size: 40px"></i>
								<%}else{%>
									<img src="<%= contact.photoPath%>" style="height: 40px; width: 40px;">
								<%}%>
							</td>
							<td valign="middle">
								<%= contact.firstName%> <%= contact.lastName%>
							</td>
						</tr>
					</table>
					
				 </a> 
			</li>
		<%})%>
		</ul>
		
	
	
<%}%>
