
		<% if(platform==='ios'){%>
		<div data-role="header" class="headerIos">
		<%} else {%>
		<div data-role="header">
		<%}%>
			<% if (homeHeader ){%>
				<div style="position: absolute;left=0px;padding-top: 0px; cursor: pointer;" class="home">
							<table>
								<tr>
									<td valign="middle" height="40px;">
									<% if (user.thumbFileName && user.thumbFileName.lastIndexOf('.')>0 ){  %>
										<img src="<%=serverUrl%>/uploads/thumb/<%= user.thumbFileName%>" height="38" width='38'/>
									<%}else{%>
										<span class='homeIcon'><%= user.screenName%></span>
									<%}%>
									</td>
								</tr>
							</table>
							
					</div>
			<%}else{%>
				<a data-rel="back" data-icon="back" class='btnBack'  data-role="button">Back</a>
			<%}%>
			
			<h1 id="headerTitle">
				<%=title%>
				
			</h1>
				
				<i class="profSettingLnk fa fa-th" style="font-size: 35px;"
onclick="$('#popupBasic').popup( { positionTo:'.profSettingLnk',dismissible: true, transition: 'pop'} ).popup( 'open');"></i>

				
					<div data-role="popup" id="popupBasic">
						<ul data-role="listview" data-inset="true">
						    <li  data-icon="false"><a href='#settings'>Settings...</a></li>
						    <li  data-icon="false">
						    	<a href="#add_friend">Add Friend</a>
						    </li>
						    <li data-icon="false"><a href="#profiles">Update Profile</a></li>
						    
						    <li data-icon="false"><a href="#favorites">My Favorites</a></li>
						    
						    <% if(sharedLinkView){%>
						    
						      <li  data-icon="false"><a id="hrefSharedToFriend">Shared to room</a></li>
						      <li  data-icon="false"><a id="hrefSharedToHighlight">Shared to highlight</a></li>
						      <!-- 
						         <li  data-icon="false"><a id="hrefAddToFavorite">Add to my favorite</a></li>
						       -->
						    <%}%>
						    
						 
						    
						    
						    <% if (!homeHeader ){%>
						    	<li data-icon="home"><a  href="#">Home</a></li>
						    <%}%>
						    <li data-icon="back"><a  href='#logout'>Logout</a></li>
						    
						    <% if(platform==='ios' || platform==='android'){%>
							    <li data-icon="mail">
							    	<a onclick="window.open('http://chat4each.com:81', '_system')" style=" background-color: #e9e9e9; color: #000;">
									 	Contact Us
									 </a>
								 </li>
						    <%}else{%>
						    	<li data-icon="mail">
						    		<a href='http://chat4each.com:81' target="_blank" style=" background-color: #e9e9e9; color: #000;">Contact Us</a>
								</li>
							<%}%>
						</ul>
					</div>
		</div>
		