
<table>

	<tr>
		<td width="60px" align="center" valign="middle">
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=user.screenName %>
		</td>
		
		<td width="100%">
			
			<% if( highlight.content  ) {%>
				<%= highlight.content  %>
			<%}%>
			
			<div>
				<%_.each( highlight.medias, function(media){ %>
					<% if(media.type=='photo'){%>
						<img src="<%= media.path %>"  height="50px" width="50px" class='highlightMediaItem' />
					<%} else if(media.type=='audio'){%>
						<span style="width: 50px;height: 50px;float: left;">
						<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%= media.path %>"><div class='recordAudioMsg' ></div></a>
						<%} else {%>
								<a href="<%= media.path %>" target="_blank"><div class='recordAudioMsg'></div></a>
						<%}%>
						</span>
					<%}%>
				<% }) %>
				<% if(!mobile){%>
				<span class='spanUploadingIndicator'><%= window.util.translate("Updating") %>...</span>
				<%}%>
			</div>
			
			<%if(highlight.shared_link && highlight.shared_link.length>0){%>
			<div class="cfx divHighlighSharedLink" data-id="0">
					<%= window.util.translate("Shared Link") %>
			</div>
			<%}%>
		</td>
		
	</tr>
	
</table>