
<table>

	<tr>
		<td width="60px" align="center" valign="middle">
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=highlight.creator.screenName %>
		</td>
		
		<td width="100%">
		
			<% if( highlight.contents  ) {%>
				<%=  highlight.contents  %>
			<%}%>
			
			<div class="divHighlightItems" data-id="<%= highlight._id%>">
				<%_.each( highlight.photos, function(photo){ %>
					<img src="<%= util.retrieveHighlightThumbNailPath( photo, 50 )%>" width="50px" height="50px;" class='highlightMediaItem' />
				<% }) %>
				
				<%_.each( highlight.audios, function(audio){ %>
					<span style="width: 50px;height: 50px;float: left;">
					<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%=util.convertToHostPath( audio.filename )%>"><div class='recordAudioMsg' ></div></a>
							<%} else {%>
								<a href="<%=util.convertToHostPath( audio.filename )%>" target="_blank"><div class='recordAudioMsg'></div></a>
							<%}%>
					</span>
				<% }) %>
			</div>
			
			<%if(highlight.shared_link && highlight.shared_link.link!=undefined && highlight.shared_link.link.length>0){%> 
			
			<div class="cfx divHighlighSharedLink" data-id="<%= highlight._id %>">
					<% if(highlight.shared_link.msg!=undefined && highlight.shared_link.msg.trim()!="" ){%> 
						<%= highlight.shared_link.msg %>
					<%} else if(highlight.shared_link.title!=undefined && highlight.shared_link.title.trim()!="" ){%>
						<%= highlight.shared_link.title %>
					<%} else {%>
						Shared Link
					<%}%>
			</div>
			<%}%>
			
		</td>
		<td style="padding-right: 0px;" class="tdEditHighlight">
			<table>
				<% if( user.screenName === highlight.creator.screenName ){%>
					
						<tr>
							
					
							<td>
								<a href="#update_highlight/<%= highlight._id%>"><i class="fa fa-edit" ></i></a>
							</td>
							<td >
								<span data-id="<%= highlight._id%>" class="hrefFavorite <%= highlight.favorited?'favorited':'unfavorited'%>"><i class="fa fa-heart" ></i></span> 
							</td>
						</tr>
				
				<%} else {%>
				
					<tr>
						<td>
							<span data-id="<%= highlight._id%>" class="hrefFavorite <%= highlight.favorited?'favorited':'unfavorited'%>"><i class="fa fa-heart" ></i></span> 
						</td>
					</tr>
				<%}%>	
			</table>
			
		</td>		
	</tr>
	<tr>
	 <% if( user.screenName === highlight.creator.screenName ){%>
	 	<td colspan="3" style="padding: 0px; text-align: center;font-size: 70%">
			<%= highlight.date_str%>
		</td>
	 <%}else{%>
	 	<td colspan="2" style="padding: 0px; text-align: center;font-size: 70%">
			<%= highlight.date_str%>
		</td>
	 <%}%>
	
	</tr>
	
</table>