
<table style="width: 100%">

	<tr>
		<td width="60px" align="center" valign="middle">
				<% if(photoPath!==''){%>
					<a href="#larget_photo/<%= encodeURIComponent(photoLargePath) %>">
						<img src="<%= photoPath %>" height="30px" width="30px"/>
					</a>
				<%}else{%>
					<i class="fa fa-user" style="font-size: 30px"></i>
				<%}%>
				<br/>
				<%=highlight.creator.screenName %>
		</td>
		
		<td width="100%">
		
			<% if( highlight.contents  ) {%>
				<% if( highlight.contents.length>50 ){%>
					<span class="spanHighlightAbstract" data-id="<%= highlight._id%>">
						<%=  highlight.contents.substr(0, 50)  %>... (<span class="spanAbstractlink">more</span>)
					</span>
				<%} else {%>
					<%=  highlight.contents %>
				<%}%>
			<%}%>
			
			<div class="divHighlightItems" data-id="<%= highlight._id%>">
				<%_.each( highlight.photos, function(photo){ %>
					<img src="<%= util.retrieveHighlightThumbNailPath( photo, 50 )%>" width="50px" height="50px;" class='highlightMediaItem' />
				<% }) %>
				
				<%_.each( highlight.audios, function(audio){ %>
					<span style="width: 50px;height: 50px;float: left;">
					<% if(mobile){ %>
								<a  class="hrefAudioChatRoom" data-link="<%=util.convertToHostPath( audio.filename )%>"><div class='recordAudioMsg' ></div></a>
							<%} else {%>
								<a href="<%=util.convertToHostPath( audio.filename )%>" target="_blank"><div class='recordAudioMsg'></div></a>
							<%}%>
					</span>
				<% }) %>
			</div>
			
			<%if(highlight.shared_link && highlight.shared_link.link!=undefined && highlight.shared_link.link.length>0){%> 
			
			<div class="cfx divHighlighSharedLink" data-id="<%= highlight._id %>">
					<% if(highlight.shared_link.msg!=undefined && highlight.shared_link.msg.trim()!="" ){%> 
						<%= highlight.shared_link.msg %>
					<%} else if(highlight.shared_link.title!=undefined && highlight.shared_link.title.trim()!="" ){%>
						<%= highlight.shared_link.title %>
					<%} else {%>
						Shared Link
					<%}%>
			</div>
			<%}%>
			
		</td>
		<td style="padding-right: 0px;" class="tdEditHighlight">
			
				<% if( user.screenName === highlight.creator.screenName ){%>
						<a href="#update_highlight/<%= highlight._id%>"><i class="fa fa-edit" ></i></a>
						<span data-id="<%= highlight._id%>" class="hrefFavorite <%= highlight.favorited?'favorited':'unfavorited'%>"><i class="fa fa-heart" ></i></span> 
				<%} else {%>
						<span data-id="<%= highlight._id%>" class="hrefFavorite <%= highlight.favorited?'favorited':'unfavorited'%>"><i class="fa fa-heart" ></i></span> 
				<%}%>	
		</td>		
	</tr>
	
	<tr>
	 	<td colspan="3" style="padding: 0px; text-align: center;font-size: 70%">
	 
		<div class="divAddCommentHighlight" data-id="<%= highlight._id%>">
			<%= highlight.date_str%>
	 		<span class='spanAddCommentHighlight' />
		</div>
		
		<div class="divHighlightComments">
			<ul id="ulHighlightComments_<%= highlight._id%>">
				<% if(highlight.comments.length>0){%>
							<%_.each( highlight.comments, function(comment){%>
								<li class="<%= util.datecompare(comment.created, lastVisited) && comment.creator._id!=user._id ?'unseen':''  %>">
										<%=comment.creator.firstName%> <%=comment.creator.lastName%>:
										<% if(comment.comment.length>50 ){%>
											<span class="spanHighlightCommentAbstract" data-id="<%= comment._id%>">
											 	<%= comment.comment.substr(0,50) %>...(<span class="spanAbstractlink">more</span>)
											</span> <span id="comment_<%=comment._id%>" style="display:none"><%= comment.comment%></span>
										<%}else{%>
											<%= comment.comment%>
										<%}%>
										( <%= comment.created.substr(5,2)+' / '+comment.created.substr(8,2) %> ) 
								</li>
							<%});%>
				<%}%>
			</ul>
		</div>
		<div class='cfx'></div>
		<div class="divAddComment" id="divAddComment_<%= highlight._id%>">
			<input type="text" id="txtHighlightComment_<%= highlight._id%>">
			<input type="button" data-id="<%= highlight._id%>" data-role="button" data-icon="check" data-inline="true" data-mini="true" class="btnHighlightCommentConfirm" id="btnHighlightCommentConfirm_<%= highlight._id%>" value="Save"/>
			<input type="button" data-id="<%= highlight._id%>" data-role="button" data-icon="delete" data-inline="true" data-mini="true"  class="btnHighlightCommentCancel" id="btnHighlightCommentCancel_<%= highlight._id%>"  value="Cancel"/>
		</div>
		
		
		</td>
	</tr>
	
	
</table>