<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup" data-type="horizontal">
				    
				    	 	<input type="radio" name="radSharedWith" value="1" id="radSharedWith-family"  />
				         	<label for="radSharedWith-family"><%= window.util.translate("Family") %></label>
				
				         	<input type="radio" name="radSharedWith" value="2" id="radSharedWith-friend" />
				         	<label for="radSharedWith-friend"><%= window.util.translate("Friend") %></label>
				
				         	<input type="radio" name="radSharedWith" value="3" id="radSharedWith-all" checked="checked"/>
				         	<label for="radSharedWith-all"><%= window.util.translate("All") %></label>
				
				         	<input type="radio" name="radSharedWith" value="0" id="radSharedWith-none" />
				         	<label for="radSharedWith-none"><%= window.util.translate("None") %></label>
				    
				    </fieldset>
				</div>
				