<section id="splashPage">
		
		<div class="headerContent"></div>
		<% if(mobileOS=="ios"){%>
		<div style="position: absolute;left:0px;right: 0px;bottom: 0px;top:70px;">
		<%}else{%>
		<div style="position: absolute;left:0px;right: 0px;bottom: 0px;top:44px;">
		<%}%>
		
			<% if (mobileOS=='ios') {%>
			<div class="iframe-scroll-wrapper" style="">
			    <iframe data-role="content" id="divHighlightContent" />
			</div>
			<%} else {%>
				<iframe data-role="content" id="divHighlightContent"/>
			<%}%>
		</div>
</section>
