<section id="splashPage">
		
		<div class="headerContent">
			<div data-role="header">
					<div style="position: absolute;left=10px;padding-top: 5px; cursor: pointer;" class="home">
							<% if (user.thumbFileName.indexOf('.')>0 ){  %>
								<img src="<%=serverUrl%>/uploads/thumb/<%= user.thumbFileName%>"/>
							<%}else{%>
								Welcome, <%= user.screenName%>
							<%}%>
					</div>
					
					
							
				<h1>
					Home
				</h1>			
				
				<div style="position: absolute;right: 15px;top:0px">
				<a href='#logout' data-role='button' style="width: 55px">
					Logout</a>
				</div>
					
				
			</div>
		</div>
		
		<div data-role="content">
				
			<a href="#photos" data-role="button" data-icon="grid">My Photos</a>
			<a href="#chatrooms" data-role="button">My Chatrooms</a>
			<a href="#add_friend" data-role="button" data-icon="plus">Add Friend</a>
			<a href="#invitations" data-role="button">Invitation <span id="divTotalInvitations"></span></a>
			<a href="#contacts" data-role="button">My Contacts</a>
			<a href="#profiles" data-role="button">Update Profile</a>
			<button id='btnRefresh' data-icon="refresh">Refresh</button>
			
		</div>
		
		<div class="footerContent"></div>
</section>
