<h4><%=invitation.from.firstName%> <%=invitation.from.lastName %></h4>
<% if (invitation.from.photos.length>0) {%>
					<% _.each(invitation.from.photos, function(item){%>
						<% if (item.use_as_head){ %>	
							<% _.each(item.renders, function(render){%>
								<% if(render.dimension>200 && render.dimension<300 ){%>
									<img src="<%=serverUrl%>/uploads/thumb/<%= render.filename%>"/>
								<%}%>
							<%})%>
						<%}%>
					<%})%>
<%}%>

<% if(invitation.room){%>
	<p>
		<%= window.util.translate("You are invited to join room") %>: <strong><%= invitation.room.name%></strong>
	</p>
<%}%>

<p>
<%= invitation.message %>
</p>

<hr/>

<h4><%= window.util.translate("Short message to inviter") %></h4>	
				
<textarea id="friendRequestReplyMsg"></textarea>	
				
<h4><%= window.util.translate("Relationship") %>:</h4>
				
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup" data-type="horizontal">
				    
				    		
				    		<% if(invitation.is_family){ %>
				    		<input type="radio" name="radRelationship-reply" value="1" id="radRelationship-reply-family" checked="checked"
				    	 	/>
				    	 		<label for="radRelationship-reply-family"><%= window.util.translate("Family") %></label>
				         	<input type="radio" name="radRelationship-reply" value="2" id="radRelationship-reply-friend" 
				         	/>
				    		<label for="radRelationship-reply-friend"><%= window.util.translate("Friend") %></label>
					     	
				         	
				    	<%}else{%>
				    		<input type="radio" name="radRelationship-reply" value="1" id="radRelationship-reply-family" 
				    	 	/>
				    	 		<label for="radRelationship-reply-family"><%= window.util.translate("Family") %></label>
				         	<input type="radio" name="radRelationship-reply" value="2" id="radRelationship-reply-friend" checked="checked"
				         	/>
				    		<label for="radRelationship-reply-friend"><%= window.util.translate("Friend") %></label>
					     	
				    	<%}%>
				    	 	
				    		
				    			
				    		</tr>
				    	</table>
				    	
				    
				    </fieldset>
				</div>				
				
<input type='button' id="btnFriendRequestAccept" value='<%= window.util.translate("Accept") %>'/>

<input type='button' id="btnFriendRequestReject" value='<%= window.util.translate("Reject") %>'/>
				
			