<section id="splashPage">
		
		<header data-role="header">
			<div id="loginHeadImg">
				<img src="<%=url%>/img/logo-50.png" />
			</div>
			<h1>
				<%= window.util.translate("Chat4Each") %>
			</h1>
			<div class="divChangeLanguageLink">
				<% if(window.util.getCurrentLanguage()=='en'){%>
				中文
				<%}else{%>
				English
				<%}%>
			</div>
		</header>
		
		<div data-role="content">
	
				<div class='divHomeSubTitle'>
				<% if(window.util.getCurrentLanguage()=='en'){%>
				Video/Audio/Text chat available for you across all available platforms, mobile, web and apps.Our service is absolutely free.
				<%}else{%>
				我们向您提供完全免费的通过所有平台，包括手机及电脑的浏览器及应用程式所进行的视频／音频及文字聊天服务。
				<%}%>
				</div>
						
				<hr/>
				<h4><%= window.util.translate("Please enter your username and password") %><h4>
					
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="userName"><%= window.util.translate("userName") %>:</label>
					<input type="text" id="userName"  placeholder="<%= window.util.translate('User Name') %>:" value=''/>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="userName"><%= window.util.translate("Password") %>:</label>
					<input type="password" id="passWord" placeholder="<%= window.util.translate('Password') %>:" value=''/>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<button class="ui-btn ui-btn-b" id='btnLogin'><%= window.util.translate("Login") %></button>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<a href="#forgetPassword" class="ui-btn ui-btn-b"><%= window.util.translate("Forget your password") %>?</a>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<a href="#register" class="ui-btn ui-btn-b"><%= window.util.translate("Register") %></a>
				</div>	
				
				<div class="error" id='loginError' style="display:none">
					<%= window.util.translate("Login failed, username and password do not match") %>
					.
				</div>		
				
				<div class='divHomeSubTitle' style="font-weight:normal">
				<%if(mobile){%>
					<% if(window.util.getCurrentLanguage()=='zh'){%>
						我们建议您使用<a onclick="window.open('http://www.google.com/chrome/', '_system')">Google Chrome</a>或<a onclick="window.open('https://www.mozilla.org/en-US/firefox/new/', '_system')">Firefox</a>
						浏览器以便全面使用我们为您提供的视频及音频聊天服务。目前，我们的视频服务只局限于以上两种网络浏览器，手机应用暂不适用。
					<%}else{%>
						We suggest you use <a onclick="window.open('http://www.google.com/chrome/', '_system')">Google Chrome</a>  or <a onclick="window.open('https://www.mozilla.org/en-US/firefox/new/', '_system')">Firefox</a> web browser
						in order to fully use video or audio chat service. Currently, video feature is only available in above two web browsers and not in mobile app yet.
					<%}%>
				<%}else{%>
					<% if(window.util.getCurrentLanguage()=='zh'){%>
							我们建议您使用<a onclick="window.open('http://www.google.com/chrome/', '_blank')">Google Chrome</a>或<a onclick="window.open('https://www.mozilla.org/en-US/firefox/new/', '_blank')">Firefox</a>
						浏览器以便全面使用我们为您提供的视频及音频聊天服务。目前，我们的视频服务只局限于以上两种网络浏览器。
				
					<%}else{%>
						We suggest you use <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>  or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> web browser
						in order to fully use video or audio chat service. Currently, video feature is only available in above two web browsers.
				
					<%}%>
				<%}%>
					
				</div>
		</div>
		
		<div class="footerContent">
		
		<div data-role="footer" data-position="fixed">		
				<div data-role="navbar">
					<ul>
						<li>
							<%if(mobile){%>
								<a onclick="window.open('http://chat4each.com:81', '_system')" style=" background-color: #e9e9e9; color: #000;">
								 	<%= window.util.translate("Contact Us") %>
								 </a>
							<%}else{%>
								<a href='http://chat4each.com:81' target="_blank" style=" background-color: #e9e9e9; color: #000;"><%= window.util.translate("Contact Us") %></a>
							<%}%>
						</li>
							
						<%if(mobile){%>
							<li>
							 <a onclick="window.open('http://www.chat4each.com', '_system')" >
							 	www.chat4each.com
							 </a>
							</li>
						<%}else{%>
							<li>
							<% if(util.Android()) {%>
							<a href="https://play.google.com/store/apps/details?id=com.chat4each"
							style=" background-color: #e9e9e9; color: #000;"
							><%= window.util.translate("Download: Android App") %></a> 
							
							<%} else if(util.iOS()) {%>
							
							<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=939421844&mt=8"
							style=" background-color: #e9e9e9; color: #000;"
							>%= window.util.translate("Download: IOS App") %></a> 
							
							<%}%>
							
							</li>
						<%}%>	
					</ul>
				</div>
			</div>
		</div>
		
</section>
