<section id="splashPage">

		<% if(platform=='ios'){ %>
		<header data-role="header" class="headerIos">
		<%} else {%>
		<header data-role="header">
		<%}%>
			<div id="loginHeadImg">
				<img src="<%=url%>/img/logo-50.png" />
			</div>
			<h1>
				<%= window.util.translate("Chat4Each") %>
			</h1>
			<div class="divChangeLanguageLink">
			<% if(window.util.getCurrentLanguage()=='en'){%>
				<%= window.util.getTranslateWithKey('lang_zh',window.util.getCurrentLanguage())%>
			<%}else{%>
				<%= window.util.getTranslateWithKey('lang_en',window.util.getCurrentLanguage())%>
			<%}%>
			</div>
		</header>
		
		<div data-role="content">
	
				<div class='divHomeSubTitle'>
					<%= window.util.getTranslateWithKey('home_1', window.util.getCurrentLanguage())%>
				</div>
						
				<hr/>
				<h4><%= window.util.translate("Please enter your username and password") %><h4>
					
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="userName"><%= window.util.translate("userName") %>:</label>
					<input type="text" id="userName"  placeholder="<%= window.util.translate('User Name') %>:" value=''/>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="userName"><%= window.util.translate("Password") %>:</label>
					<input type="password" id="passWord" placeholder="<%= window.util.translate('Password') %>:" value=''/>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<button class="ui-btn ui-btn-b" id='btnLogin'><%= window.util.translate("Login") %></button>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<a href="#forgetPassword" class="ui-btn ui-btn-b"><%= window.util.translate("Forget your password") %>?</a>
				</div>
				
				<div data-role="fieldcontain" class="ui-hide-label">
					<a href="#register" class="ui-btn ui-btn-b"><%= window.util.translate("Register") %></a>
				</div>	
				
				<div class="error" id='loginError' style="display:none">
					<%= window.util.translate("Login failed, username and password do not match") %>
					.
				</div>		
				
				<div class='divHomeSubTitle' style="font-weight:normal">
				<%if(mobile){%>
					<%= window.util.getTranslateWithKey('home_3', window.util.getCurrentLanguage())%>
				<%}else{%>
				  	<%= window.util.getTranslateWithKey('home_2', window.util.getCurrentLanguage())%>
				<%}%>
					
				</div>
		</div>
		
		<div class="footerContent">
		
		<div data-role="footer" data-position="fixed">		
				<div data-role="navbar">
					<ul>
						<li>
							<%if(mobile){%>
								<a onclick="window.open('http://chat4each.com:81', '_system')" style=" background-color: #e9e9e9; color: #000;">
								 	<%= window.util.translate("Contact Us") %>
								 </a>
							<%}else{%>
								<a href='http://chat4each.com:81' target="_blank" style=" background-color: #e9e9e9; color: #000;"><%= window.util.translate("Contact Us") %></a>
							<%}%>
						</li>
							
						<%if(mobile){%>
							<li>
							 <a onclick="window.open('http://www.chat4each.com', '_system')" >
							 	www.chat4each.com
							 </a>
							</li>
						<%}else{%>
							<li>
							<% if(util.Android()) {%>
							<a href="https://play.google.com/store/apps/details?id=com.chat4each"
							style=" background-color: #e9e9e9; color: #000;"
							><%= window.util.translate("Download: Android App") %></a> 
							
							<%} else if(util.iOS()) {%>
							
							<a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=939421844&mt=8"
							style=" background-color: #e9e9e9; color: #000;"
							>%= window.util.translate("Download: IOS App") %></a> 
							
							<%}%>
							
							</li>
						<%}%>	
					</ul>
				</div>
			</div>
		</div>
		
</section>
