<section id="splashPage">
		
		<div class="headerContent"></div>
		
		<div data-role="content">
				
			<h1><%= window.util.translate("Upload Photo") %></h1>
				
				
			<% if(mobile){%>			
			
				<button id='btnPhotos' data-inline="true"><%= window.util.translate("Photos") %></button>
				<button id="btnCamera" data-inline="true"><%= window.util.translate("Camera") %></button>
				
				
			<%}else{%>
			
				<form id="file-form" method="POST">
				  <input type="file" id="file-select" name="photos[]" accept="image/*" style="display: none;">
				  <img id='selectedImg' style="max-width: 200px;max-height: 200px;min-height: 20px;display:none"/>
				</form>
				
				<button id="select-profile-photo" data-inline="true"><%= window.util.translate("Select Image") %></button>
				<button id="upload-button" style="display: none;" data-inline="true"><%= window.util.translate("Upload") %></button>
				
			<%}%>
			
			<hr/>
			
			<div data-role="controlgroup" data-type="horizontal">
				<a class='hrefShowType' data-type="grid" data-role="button" data-icon="grid"><%= window.util.translate("Grid") %></a>
				<a class='hrefShowType' data-type="detail" data-role="button" data-icon="info"><%= window.util.translate("Detail") %></a>
			</div>
			
			<div id='divPhotoList'></div>
			
		</div>
		
		<div class="footerContent"></div>
		
</section>
