<section id="splashPage">
		
		<div class="headerContent"></div>
		
		<div data-role="content">
				
			<h1>Photo Detail</h1>	
			
			<div class='divPhotoItem'>
				<% _.each(item.get('renders'), function(render){%>
					<% if(render.dimension==250){%>
					 	<img src="<%=serverUrl%>/uploads/thumb/<%= render.filename%>"/>
					<%}%>
				<%})%>			
			</div>	
			
			<div class="ui-field-contain">
					<label for="photoTitle">Title:</label>
					<input type="text" id="photoTitle" value="<%= item.get('title')%>" placeholder="Photo Title"/>
			</div>
			
			<div class="ui-field-contain">
				<label for="photoDescription">Description:</label>
				<textarea name="photoDescription" id="photoDescription"><%= item.get("description")%></textarea>
			</div>
			
			<div data-role="fieldcontain" >
					<button id='btnPhotoEdit' class="ui-btn ui-btn-b">Submit</button>
			</div>	
		</div>
		
		<div class="footerContent"></div>
</section>
