<h3><%= window.util.translate("Your current photos") %></h3>
<hr/>

<% _.each(results, function(item){%>
	<% _.each(item.get('renders'), function(render){%>
		<% if(render.dimension==50){%>
			<div class="divProfileImageItem_detail">
				 <table class="tabProfileImageItem <%= item.get('use_as_head')?'profileImageItemSelected':''  %>" 
				 data-photoid="<%= item.get('_id') %>">
				 <tr>
				 	<td style="width: 70px;">
				 		<img src="<%=serverUrl%>/uploads/thumb/<%= render.filename%>"/>
				 	</td>
				 	<td>
				 		<strong><%= item.get('title')%></strong>
				 		 <br/>
				 		<%= item.get('description')%> 
				 	</td>
				 </tr>
				 </table>
						
			</div>
		<%}%>
	<%})%>
<%})%>

<button class="ui-btn ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all" id='btnDeleteSelectedImages'><%= window.util.translate("Delete") %></button>

<button class="ui-btn ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" id='btnViewHeaderImage' style='display:none'><%= window.util.translate("View Detail") %></button>

<button class="ui-btn ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" id='btnChangeHeaderImage' style='display:none'><%= window.util.translate("Set As Head Image") %></button>