
				
					
				<table>
					<tr>
						<td>
							<%_.each(contact.photos, function(photo){%>
								<% if(photo.use_as_head){%>
									<%_.each(photo.renders, function(render){%>
										<% if(render.dimension==100){%>
												<img src="<%=serverUrl%>/uploads/thumb/<%= render.filename%>">
										<%}%>
									<%})%>
								<%}%>
							<%})%>
						</td>
						<td>
							<h3><%= contact.firstName%> <%= contact.lastName%></h3>
						</td>
					</tr>
				</table>
				
				<h4>Short Message for invitation:</h4>	
				
				<textarea id="friendRequestMsg"></textarea>	
				
				<h4>Relationship:</h4>
				
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup" data-type="horizontal">
				    
				    	 	<input type="radio" name="radRelationship" value="1" id="radRelationship-family"  />
				         	<label for="radRelationship-family">Family</label>
				
				         	<input type="radio" name="radRelationship" value="2" id="radRelationship-friend" checked="checked"/>
				         	<label for="radRelationship-friend">Friend</label>
				    
				    </fieldset>
				</div>
				
				
				<input type='button' id="btnSendFriendRequest" value='Submit'/>
				
			