{% block content %}
	
	{% if refer.name.length>0  %}
		Dear {{ refer.name }},\n
	{% else %}
		Dear Friend,\n
	{% endif %}
	\n
	{{ sender.firstName }} {{ sender.lastName }} has just sent you an online chating invitation from Chat4Each. Our chating 
	service is available through desk and mobile browser as well as ios and android devices. You can leave video and voice message 
	to your friends. Also you can do video chat through your devices! Our service is completely Free!\n
	\n
	{% if refer.message.length>0 %}
	\n
	{{ sender.firstName }} {{ sender.lastName }} also left message as follows:
	\n
	{{ refer.message}}
	{% endif %}
	\n
	\nPlease click following link to accept the invitation:\n
	\n
	{{url}}
	
	
{% endblock %}

