<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
body,p {
	margin: 0;
	padding: 0;
	margin-bottom: 0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

img {
	line-height: 100%;
	outline: none;
	text-decoration: none;
	-ms-interpolation-mode: bicubic;
}

a img {
	border: none;
}

</style>
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" width="100%" 
	   align="center" style="font-family: Arial, Helvetica, Sans-Serif; margin: 0 auto;">
	<tr>
		<td width="100%">
			<!--header-->
			<table style="background-color:#222222; width: 100%;padding:10px;height: 90px;">
				<tr>
				    		<td width="70%" align="left" style="color: #999999;font-size:50px;font-weight: bold">
				    			<a href="http://www.chat4each.com" style="text-decoration: none;color: #999999">
								    	Chat4Each.com
								</a>		
				    		</td>
				    		<td width="30%" align="right"  style="color: #999999;font-size:30px">
				    			<a href="http://www.chat4each.com:81/"  style="color: #ffffff">Contact Us</a>
				    		</td>
				    		
				    	</tr>
			</table>
		</td>
	</tr>
	<tr>
	<td width="100%" height="100%" valign="middle" style="padding:50px; font-size: 50px;">
				    			
				    				Complete chatting service through mobile app, web and desktop browser, you can leave text, audio or video messages to your friends. 
				    				You can also do  audio and video chatting.
				    				By using Highlight function, you can easily record every moment in your life through text, camera, photos and audios, your highlights 
				    				can be shared with your families, friends or just yourself!
				    				<br/>Our service is <b><font color='red'>absolutely free.</font></b>
				    				<br/>Happy Chatting!
				    				</td></tr><tr><td width="100%" style="padding-top: 20px;">
				    				
			{% block content%}
		  	 	this is content
		  	 {% endblock%} 	
			
		</td>
	</tr>	
	
</table>	
	
