{% extends 'emails/layout.html.server.view.html'%}
{% block content %}
	<p>
		
		{% if err %}
			<div style="color: red">
				{{ err }}
			</div>
		{% endif %}
		
			<h1>Reset your password:</h1>
			
			<form action="/reset_password" method="post">
				<input type="hidden" name="email" value="{{user.email}}" />
				<input type="hidden" name="token" value="{{user.token}}" />
				
				<table>
					<tr>
						<td>New Password:</td>
						<td>
							<input type="password" name="new_pwd" />
						</td>
					</tr>
					<tr>
						<td>Password confirmation:</td>
						<td>
							<input type="password" name="new_pwd_again" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Submit" />
						</td>
					</tr>
				</table>
			</form>
			
		
	
		<br/>
	</p>
{% endblock %}
