.center{
	text-align: center;
}

#tbl_transactions{
	width:100%;
}

#tbl_transactions th td{
	width:33%;
	text-align: center;
}

.error {
color: red;
font-size: 16px;
font-weight: normal;
line-height: 1.4;
margin-top: 0.5em;
width: 100%;
float: none;
}

#divSuggestedName{
	color: green;
	font-size: 16px;
}

.divProfileImageItem{
	width: 65px;
	height: 65px;
	cursor: pointer;
	float:left;
	text-align: center;

}

.divProfileImageItem table{
	width: 60px;
	height: 60%;
}

.divProfileImageItem table td{
	vertical-align: middle;
	text-align: center;
}

.profileImageItemSelected{
	border-width: 1px;
	border-color: #008000;
	border-style: solid;
}

.divPhotoItem{
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.divProfileImageItem_detail{
	width: 100%;
	height: 65px;
	cursor: pointer;
	margin:5px;
}

.divProfileImageItem_detail table{
	width: 100%;
	height: 65px;
}
.divProfileImageItem_detail table td{
	vertical-align: middle;
	text-align: left;
}
.notice{
	color:red;
}


	  #tblChat {
	  	position: absolute;
	  	bottom: 25px;
	  	width: 100%;
	  }
	  
	  #messages { 
	   	bottom: 50px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 95px;
	   
	   }
       
       #messages li { padding: 5px 10px; }
       #messages li:nth-child(odd) { background: #eee; }
    
#spanFooterChatLnk{
	position: relative;
}    
       
.spanFooterReminder:before{
 	content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #f00;
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    left: 10px;
}

img.online{
	border:#008000 2px solid;
}
img.offline{
	border:none;
}

#btnPhotos:before{
	content: "\f1c5";
	font-family: FontAwesome;
    font-style: normal;
    padding-right: 10px;
    font-weight: normal;
    text-decoration: inherit;
}

#btnCamera:before{
	content: "\f030";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
    text-decoration: inherit;
}
#btnAttPhotos{
	padding: 7px 10px 4px;
}

#btnAttPhotos:before{
	content: "\f1c5";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

#btnAttCamera{
	padding: 7px 10px 4px;
}

#btnAttCamera:before{
	content: "\f030";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}


#btnAttPhotos-h{
	padding: 7px 10px 4px;
}

#btnAttPhotos-h:before{
	content: "\f1c5";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

#btnAttCamera-h{
	padding: 7px 10px 4px;
}

#btnAttCamera-h:before{
	content: "\f030";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

#btnChattingRoomBack_phone{
	padding: 7px 10px 4px;
}
#btnChattingRoomBack_phone:before{
	content: "\f060";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

.hrefCall:before{
	content: "\f095";
	font-family: FontAwesome;
    font-weight: bold;
    text-decoration: inherit;
    font-size:20px;
}
.hrefCall{
	text-decoration: none;
}
.hrefCall:visited{
	text-decoration: none;
}
.hrefDetail:before{
	/*content: "\f022";*/
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 5px;
    text-decoration: inherit;
}

.divDialingName{
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	margin: 20px;
}

.hrefAudio{
    font-size:26px;
}
.hrefAudio:before{
	content: "\f1c7";
	font-family: FontAwesome;
    padding-right: 20px;
    text-decoration: inherit;
    font-size:26px;
}
.hrefVideo{
	font-size:26px;
}
.hrefVideo:before{
	content: "\f1c8";
	font-family: FontAwesome;
    padding-right: 20px;
    text-decoration: inherit;
    font-size:26px;
}
#btnChattingRoomBack_web
{
	height: 43px;
    padding: 0;
    width: 40px;
}
#upload-button-chat{
	height: 43px;
    padding: 0;
    width: 40px;
}

.recordAudio{
	padding: 7px 10px 4px;
}

.recordAudio:before{
	content: "\f1c7";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
.recordVideo{
	padding: 7px 10px 4px;
}
.recordVideo:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
#recordVideoMobile{
	padding: 7px 10px 4px;
}
#recordVideoMobile:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
.stop{
	padding: 7px 10px 4px;
}

.stop:before{
	content:"\f04d";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
    color: #ff0000;
}

.recordAudioMsg{
	padding: 7px 10px 4px;
	width: 40px;
	height: 40px;
	
}
.recordAudioMsg:before{
	content: "\f1c7";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:40px;
}
.recordVideoMsg{
	padding: 7px 10px 4px;
	width: 40px;
	height: 40px;
}
.recordVideoMsg:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:40px;
}
.attachImage{
	padding: 7px 10px 4px;
	width: 45px;
	height: 45px;
}
.attachImage:before{
	content: "\f1c5";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}

.withText:before{
	padding-right:10px;
}

.divHomeSubTitle{
	font-size: 90%;
	font-style: italic;
}
.btnImages:before{
	content: "\f1c5";
	font-family: FontAwesome;
    text-decoration: inherit;
}

#divContactSearchResult{
	margin-top: -23px;
	padding-top: 0px;
}
#loginHeadImg{
	position: absolute;
	top: 0px;
	left: 0px;
}
#loginHeadImg img{
	width: 45px;
	height: 45px;
}

.homeIcon:before{
 	content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: gray;
    padding-right: 5px;
    padding-left: 5px;
    
}
.noHeadImg{
	font-size: 40px;
}
.noHeadImg:before{
	content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: gray;
    padding-right: 5px;
    padding-left: 5px;
}

.profSettingLnk{
	 cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 3px;
    top: 8px;
    width: 40px;
}

.divChangeLanguageLink{
	cursor: pointer;
    position: absolute;
    right: 24px;
    top: 14px;
}

.divSettingItem{
	margin-bottom: 20px;
}
.spanUploadPercentage{
	float: right;padding-right: 20px;padding-top: 20px;
	color: green;
}
.btnRemoveMsg{
	color: gray;
	cursor: pointer;
}
.divHighlightThumbs{
	float: left;
	margin-left: 5px;
}

.divRmvHighlightMedia{
	background-color: gray;
    color: white;
    cursor: pointer;
    height: 35px;
    margin-top: -6px;
    padding-top: 6px;
    text-align: center;
    width: 100px;
}

.divRmvHighlightMedia:before{
	content: "\f05c";
    font-family: FontAwesome;
    font-size: 20px;
    
}

.highlightsAudio{
	border: 1px solid gray;
    height: 84px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.highlightMediaItem{
	float: left;
	margin: 2px;
}






#highlights{
		bottom: 50px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 98px;
    padding-right: 10px;
}

#highlights li{
	padding: 5px 10px; 
}

 #highlights li:nth-child(odd) { background: #eee; }

#highlights td{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#highlights tr{
	border: solid 1px gray;
	
}

#highlights li:nth-child(odd){
	background: #eee;
}

#highlightContainer {
	color: white;
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    right: 0;
   
   display: table-cell;
   vertical-align: middle;
   
}

.divHighlightItems{
	cursor: pointer;
}

#divHighlightItemsWrapper {
	background: none repeat scroll 0 0 black;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0px;
   /* display: table-cell;
    vertical-align: middle;
    */
}

#divHighlightContentInner{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 70%;
	overflow: auto;
}

#divHighlightContentWrapper {
	background: none repeat scroll 0 0 white;
    bottom: 0;
    top: 0;
    right: 0;
    display: none;
    left: 0;
    position: absolute;
    color: black;
    
   /* display: table-cell;
    vertical-align: middle;
    */
}


.tdEditHighlight a:link{
	cursor: pointer;  font-size: 30px;color: gray;
}

.tdEditHighlight a:visited{
	color: gray;
}

.divHighlightFilterHidden{
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0px;
	width: 0px;
	display: none;	
	text-align: center;
}

.divHighlightFilterVisible{
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: gray;
	z-index: 1000;
	display: block;
   text-align: center;
}
.spanUploadingIndicator{
	color: green;
    float: left;
    height: 50px;
    margin-left: 10px;
    padding-top: 20px;
    width: 100px;
}

.headerIos{
	margin-top:25px;	
}

#divHighlightItemPhotos{
	overflow-x: auto;
    width: 100%;
}

ul.ulHighlightMedias {
	  margin: 0;
	  padding: 0;
	  white-space: nowrap;
	  width: 100%;
}

ul.ulHighlightMedias li{
	display: inline-block;
	display:inline;
	list-style-type: none;
	padding-right: 1px;
	
}

ul.ulHighlightMedias li img{
	max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
	}

#imgHighlightItemBig{
	max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
#imgHighlightItemBig .bigImgloading{
	width: 100%;
	height: 100%;	
}
#imgHighlightItemBig .bigImgHorizontal{
	width: 100%;
}
#imgHighlightItemBig .bigImgVertical{
	height: 100%;
}

.bigImageOuter{
	  position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color: black;
}



#divChatImgWrapper {
	background: none repeat scroll 0 0 black;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
#chatImgContainer {
	color: white;
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    right: 0;
   
   display: table-cell;
   vertical-align: middle;
   
}
#divChatImg{
	width: 100%;
}

#divChatImg img{
	width: 100%;
	max-width: 100%;
}
.divHighlighSharedLink{
	
	background-color: #c2c2b3;
    cursor: pointer;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom:5px;
    text-align: center;
}
.divHighlighSharedLinkChat{
	
	background-color: #c2c2b3;
    cursor: pointer;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom:5px;
    text-align: center;
}

span.hrefFavorite{
	font-size: 30px;
	cursor: pointer;
}
span.favorited{
	color: red;
}
.spanAddCommentHighlight::before {
    content: "\f0e5";
    font-family: FontAwesome;
    font-size: 25px;
}
.spanAddCommentHighlight {
    float: right;
    margin-right: 4px;
    margin-top: -10px;
    cursor: pointer;
}

.spanHighlightCommentCancel{
	float: right;
	cursor: pointer;
}
.spanHighlightCommentCancel:before{
	color: red;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 30px;
    
}
.spanHighlightCommentConfirm{
	float: right;
	cursor: pointer;
}

.spanHighlightCommentConfirm:before{
	color: green;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 30px;
}


.divAddComment{
	width: 100%;text-align: right;
	margin-top: 10px;
	display: none;
}

.divHighlightComments{
	width: 80%;
	float: right;
	margin-right: 20px;
}
.divHighlightComments ul{
	list-style: none;
	
}

.divHighlightComments ul li{
	text-align: left; 
}
li.unseen{
	color: red;
}
.spanHighlightCommentAbstract{
	cursor: pointer;
}
.spanAbstractlink{
	color: 	blue;cursor: pointer;
}
.spanAbstractlinkCmt{
	color: 	blue;cursor: pointer;
}

li.highlightUnseenNum{
	 width: 90%;
	 text-align: center;
	 color: red;
	 		
}
.iframe-scroll-wrapper {
	position:fixed; 
	top:70px;bottom:0px;left:0px;right:0px; 
	overflow: scroll !important;
	-webkit-overflow-scrolling:touch !important; 
	}
		
#divHighlightContent{
			padding:0px;
		    width: 100%;
		    height: 100%;
		    border: none;
	}


.divRoomMemberItem{
	float: left;margin: 5px;
	border: solid 1px #ccc;
	height: 115px;
	width: 115px;
	position: relative;
	cursor: pointer;
}

.divRoomMemberItem img{
	max-height: 80px;
	max-width: 80px;
}
.divRoomMemberItem i{
	font-size: 80px;
}

.divRoomMemberItem table{
	width: 100%;
	height: 80px;
}

.divRoomMemberItem .self{
	background: #eee;
}

.divRoomMemberItem table td{
	text-align:center;
	vertical-align: middle;
}
.divRoomMemberItemName{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:35px;
	font-size: 80%;
	background:gray;
	color:white;
	
	text-align: center;
	text-align: center;
}


#divRoomMemberDetailImg{
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#divRoomMemberDetailImg img{
	max-width: 80%;
	max-height: 250px;
}
#divRoomMemberDetailImg i {
	font-size: 150px;
}


.cfx{
	clear: both;
}