.center{
	text-align: center;
}

#tbl_transactions{
	width:100%;
}

#tbl_transactions th td{
	width:33%;
	text-align: center;
}

.error {
color: red;
font-size: 16px;
font-weight: normal;
line-height: 1.4;
margin-top: 0.5em;
width: 100%;
float: none;
}

#divSuggestedName{
	color: green;
	font-size: 16px;
}

.divProfileImageItem{
	width: 65px;
	height: 65px;
	cursor: pointer;
	float:left;
	text-align: center;

}

.divProfileImageItem table{
	width: 60px;
	height: 60%;
}

.divProfileImageItem table td{
	vertical-align: middle;
	text-align: center;
}

.profileImageItemSelected{
	border-width: 1px;
	border-color: #008000;
	border-style: solid;
}

.divPhotoItem{
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.divProfileImageItem_detail{
	width: 100%;
	height: 65px;
	cursor: pointer;
	margin:5px;
}

.divProfileImageItem_detail table{
	width: 100%;
	height: 65px;
}
.divProfileImageItem_detail table td{
	vertical-align: middle;
	text-align: left;
}
.notice{
	color:red;
}


	  #tblChat {
	  	position: absolute;
	  	bottom: 25px;
	  	width: 100%;
	  }
	  
	  #messages { 
	   	bottom: 50px;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 176px;
	   
	   }
       
       #messages li { padding: 5px 10px; }
       #messages li:nth-child(odd) { background: #eee; }
    
#spanFooterChatLnk{
	position: relative;
}    
       
.spanFooterReminder:before{
 	content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #f00;
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    left: 10px;
}

img.online{
	border:#008000 2px solid;
}
img.offline{
	border:none;
}

#btnPhotos:before{
	content: "\f1c5";
	font-family: FontAwesome;
    font-style: normal;
    padding-right: 10px;
    font-weight: normal;
    text-decoration: inherit;
}

#btnCamera:before{
	content: "\f030";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
    text-decoration: inherit;
}
#btnAttPhotos{
	padding: 7px 10px 4px;
}

#btnAttPhotos:before{
	content: "\f1c5";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

#btnAttCamera{
	padding: 7px 10px 4px;
}

#btnAttCamera:before{
	content: "\f030";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

#btnChattingRoomBack_phone{
	padding: 7px 10px 4px;
}
#btnChattingRoomBack_phone:before{
	content: "\f060";
	font-family: FontAwesome;
    font-style: normal;
    font-size:26px;
}

.hrefCall:before{
	content: "\f095";
	font-family: FontAwesome;
    font-weight: bold;
    text-decoration: inherit;
    font-size:35px;
}
.hrefCall{
	text-decoration: none;
}
.hrefCall:visited{
	text-decoration: none;
}
.hrefDetail:before{
	content: "\f022";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
    text-decoration: inherit;
}
.divDialingName{
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	margin: 20px;
}

.hrefAudio{
    font-size:26px;
}
.hrefAudio:before{
	content: "\f1c7";
	font-family: FontAwesome;
    padding-right: 20px;
    text-decoration: inherit;
    font-size:26px;
}
.hrefVideo{
	font-size:26px;
}
.hrefVideo:before{
	content: "\f1c8";
	font-family: FontAwesome;
    padding-right: 20px;
    text-decoration: inherit;
    font-size:26px;
}
#btnChattingRoomBack_web
{
	height: 43px;
    padding: 0;
    width: 40px;
}
#upload-button-chat{
	height: 43px;
    padding: 0;
    width: 40px;
}

.recordAudio{
	padding: 7px 10px 4px;
}

.recordAudio:before{
	content: "\f1c7";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
#recordVideo{
	padding: 7px 10px 4px;
}
#recordVideo:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
#recordVideoMobile{
	padding: 7px 10px 4px;
}
#recordVideoMobile:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
}
.stop{
	padding: 7px 10px 4px;
}

.stop:before{
	content:"\f04d";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:26px;
    color: #ff0000;
}

.recordAudioMsg{
	padding: 7px 10px 4px;
	width: 40px;
	height: 40px;
	
}
.recordAudioMsg:before{
	content: "\f1c7";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:40px;
}
.recordVideoMsg{
	padding: 7px 10px 4px;
	width: 40px;
	height: 40px;
}
.recordVideoMsg:before{
	content: "\f1c8";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:40px;
}
.attachImage{
	padding: 7px 10px 4px;
	width: 45px;
	height: 45px;
}
.attachImage:before{
	content: "\f1c5";
	font-family: FontAwesome;
    text-decoration: inherit;
    font-size:30px;
}
.divHomeSubTitle{
	font-size: 90%;
	font-style: italic;
}
.btnImages:before{
	content: "\f1c5";
	font-family: FontAwesome;
    text-decoration: inherit;
}

#divContactSearchResult{
	margin-top: -23px;
	padding-top: 0px;
}
